---
layout: base
translations:
    en:
        features: 'Features'
        plans: 'Plans & pricing'
        signup_btn: 'Sign up'
        language: 'Language'
        send_email: 'Send us an e-mail'
        about: 'About us'
        terms: 'Terms of service'
    hr:
        features: 'Karakteristike'
        plans: 'Paketi i cijene'
        signup_btn: 'Prijavi se'
        language: 'Jezik'
        send_email: 'Pošaljite nam e-mail'
        about: 'O nama'
        terms: 'Uvjeti korištenja'
---
<div id="root" class="homepage">
    {% include navigation.html %}

    <div id="container">


        {{ content }}

    </div>
    <div id="root_footer">

    </div>


</div>
